{% load static %}
{% load bootstrap3 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}AviaFlights Info App{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <header>
        <h1>AviaTravel Info Portal</h1>
        <nav>
            <ul class="nav-list">
                <li><a href="{% url 'flights' %}" class="nav-link{% if request.resolver_match.url_name == 'flights' %} active{% endif %}">Flights</a></li>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'bookings' %}" class="nav-link{% if request.resolver_match.url_name == 'bookings' %} active{% endif %}">Bookings</a></li>
                    <li><a href="{% url 'logout' %}" class="nav-link">Log out</a></li>
                {% else %}
                    <li><a href="{% url 'login' %}" class="nav-link{% if request.resolver_match.url_name == 'login' %} active{% endif %}">Log In</a></li>
                    <li><a href="{% url 'register' %}" class="nav-link{% if request.resolver_match.url_name == 'register' %} active{% endif %}">Register</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>
