{% extends 'base.html' %}

{% block title %}{{ room.hotel.name }} - {{ room.room_type.name }}{% endblock %}

{% block content %}
    <h2>{{ room.hotel.name }} - {{ room.room_type.name }}</h2>
        <div class="highlight-block">
        <h5 class="card-title">Детали</h5>
            <p>Вместимость: {{ room.capacity }} человек</p>
            <p>Цена: ${{ room.cost_per_night }}/ночь</p>
            <p>Удобства: {{ room.amenities }}</p>

            {% if user.is_authenticated %}
                <a href="{% url 'booking_create' room.pk %}" class="btn btn-primary">Забронировать</a>
            {% else %}
                <a href="{% url 'login' %}" class="btn btn-primary">Войдите, чтобы забронировать</a>
            {% endif %}
        </div>

        <div class="highlight-block">
        <h5 class="card-title">Отзывы</h5>
        {% for review in reviews %}
            <h4>Оценка: {{ review.rating }}/10</h4>
            <p>{{ review.comment }}</p>
            <small>Отзыв от {{ review.booking.user.username }}
                (дата: {{ review.booking.start_date }} - {{ review.booking.end_date }})
            </small>
        {% empty %}
            <p>Отзывов пока нет.</p>
        {% endfor %}
        </div>
{% endblock %}