{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация рецензента</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'tour_list' %}">
        <img src="{% static 'favicon.ico' %}" alt="Favicon" style="height: 30px; margin-right: 10px;">
        Туры
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            {% if user.is_authenticated %}
                <li class="nav-item"><a class="nav-link" href="{% url 'tour_list' %}">Главная</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'sold_tours_by_country' %}">Туры по странам</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'user_dashboard' %}">Личный кабинет</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">Выйти</a></li>
            {% else %}
                <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Войти</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'register_agency' %}">Регистрация для агентства</a></li>
            {% endif %}
        </ul>
        <form class="form-inline my-2 my-lg-0" method="get" action="{% url 'tour_list' %}">
            <input class="form-control mr-sm-2" type="search" placeholder="Поиск по странам" aria-label="Search" name="q">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Поиск</button>
        </form>
    </div>
</nav>

<div class="container mt-4">
    <h1>Регистрация рецензента</h1>
    <form method="post" class="mt-4">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
    </form>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>