<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Owner</title>
</head>

<body>
  <h1>Owner {{owner.id}}</h1>
  <p>Имя: {{owner.first_name}}<br>
    Фамилия: {{owner.last_name}}<br>
    Дата рождения: {{owner.birth_date}}<br>
    Email: {{owner.email}}<br>
    Username: {{owner.username}}<br>
    Номер паспорта: {{owner.passport_number}}<br>
    Домашний адрес: {{owner.home_address}}<br>
    Национальность: {{owner.nationality}}<br>
  </p>
</body>

</html>