* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {

  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #f6f6f6;
}
.box {
  width: 300px;
  border-bottom: 20px solid green;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.box h2 {
  color: #fff;
  background: green;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: 700;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.box ul {
  position: relative;
  background: #fff;
}
.box ul:hover li {
  opacity: 0.2;
}
.box ul li {
  list-style: none;
  padding: 10px;
  width: 100%;
  background: #fff;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
  transition: transform 0.5s;
}
.box ul li:hover {
  transform: scale(1.1);
  z-index: 5;
  background: #25bcff;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  color: #fff;
  opacity: 1;
}
.box ul li span {
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  background: #25bcff;
  color: #fff;
  display: inline-block;
  border-radius: 50%;
  margin-right: 10px;
  font-size: 12px;
  font-weight: 600;
  transform: translateY(-2px);
}
.box ul li:hover span {
  background: #fff;
  color: #25bcff;
}