{% extends 'base.html' %}
{% block title %}Последние посещения{% endblock %}

{% block content %}
<div class="title-container">
    <h2 class="section-title">🕓 Последние посещения</h2>
</div>

{% if bookings %}
<table class="table table-striped table-hover">
    <thead class="table-dark">
        <tr>
            <th>Постоялец</th>
            <th>Отель</th>
            <th>Номер</th>
            <th>Дата заезда</th>
            <th>Дата выезда</th>
        </tr>
    </thead>
    <tbody>
        {% for booking in bookings %}
        <tr>
            <td>{{ booking.user.username }}</td>
            <td>{{ booking.room.hotel.name }}</td>
            <td>{{ booking.room.number }}</td>
            <td>{{ booking.check_in }}</td>
            <td>{{ booking.check_out }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<div class="alert alert-info">
    За последний месяц не было посетителей.
</div>
{% endif %}
{% endblock %}
