<!-- publisher_form.html -->
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Создать навык</title>
</head>

<body>
    <form method="post">
      {% csrf_token %}
      <p>Название: {{ form.name }}</p>
      <p>Характеристика: {{ form.attribute }}</p>
	    <input type="submit" value="Сохранить">
    </form>

    <form method="get" action="{% url 'skills_list' %}">
      {% csrf_token %}
      <button type="submit">Назад</button>
    </form>
</body>

</html>