# Database Configuration
PRINTING_HOUSE_POSTGRES_DSN=postgres://user:password@localhost:5432/printing_house?sslmode=disable

# HTTP Server Configuration
PRINTING_HOUSE_HTTP_ADDR=:8080

# Application Settings
PRINTING_HOUSE_FETCH_INTERVAL=10s
