node_modules/

.env
*.env.local
*.env.development
*.env.production

out/
out/artifacts/

.idea/
*.iml
.vscode/

npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

*.class
target/
*.jar
*.war
*.ear
*.log
*.out
*.ipr
*.iws

.DS_Store
Thumbs.db
*.tmp
