# Скопируйте в .env и заполните
DEBUG=1
SECRET_KEY=change-me-please
ALLOWED_HOSTS=127.0.0.1,localhost

# PostgreSQL (обязательно для сдачи)
DB_NAME=hackathon_db
DB_USER=hackathon_user
DB_PASSWORD=hackathon_password
DB_HOST=127.0.0.1
DB_PORT=5432

# Для работы с медиа (загрузка файлов)
MEDIA_URL=/media/
MEDIA_ROOT=media
