<div class="container my-3">
    <h1 class="display-4 text-center my-4 font-weight-bolder">About</h1>

    <p class="lead">Этот сайт - лабораторная работа номер 2 по дисциплине веб-программирование. </p>


    <h2 class="display-6 my-4">Доска домашних заданий</h2>
    <h4 class="my-2">
        В домашнем задании должна храниться следующая информация:
    </h4>
    <ul>
        <li>Предмет</li>
        <li>Преподаватель</li>
        <li>Дата выдачи</li>
        <li>Период выполнения</li>
        <li>Текст задания</li>
        <li>Информация о штрафах</li>
    </ul>

    <h4 class="my-2">Необходимо реализовать следующий функционал:</h4>
    <ul>
        <li>Регистрация новых пользователей.</li>
        <li>Просмотр домашних заданий по всем дисциплинам (сроки выполнения, описание задания).</li>
        <li>Сдача домашних заданий в текстовом виде.</li>
        <li>Администратор (учитель) должен иметь возможность поставить оценку за задание средствами Django-admin.</li>
        <li>В клиентской части должна формироваться таблица, отображающая оценки
            всех учеников класса.
        </li>
    </ul>
</div>
