{% extends 'base.html' %}
{% block content %}
    
<h2 class="mb-4">Список отелей</h2>
<div class="row">
    {% for hotel in hotels %}
        <div class="col-md-4">
            <div class="card-body">
                <h5 class="card-title">{{ hotel.name}}</h5>
                <p class="card-text">
                    {{ hotel.description }}
                    {{ hotel.address }}
                </p>
                 <a href="{% url 'hotel_rooms' hotel_id=hotel.id %}" class="btn btn-primary">Посмотреть номера</a>
            </div>
        </div>
    <hr/>
  
    {% endfor %}
  
</div>

{% endblock %}