# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.sqlite3

# Virtual environment
venv/
.env

# Django
db.sqlite3
*.log
*.pot
*.py[cod]
local_settings.py
media/
staticfiles/

# Node.js / Vue.js
node_modules/
dist/
*.log
*.env.local
*.env.*.local
*.env

# General
.DS_Store
Thumbs.db
.idea/
*.swp
*.bak
*.tmp

# Git-specific
.git/
*.orig

# Frontend-specific
coverage/
.vscode/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
pnpm-lock.yaml
