{% extends 'base.html' %}
{% load dict_filters %}

{% block title %}Список гонок{% endblock %}

{% block content %}
<h2>Список гонок</h2>

<form method="get" action="{% url 'race_list' %}">
  <input type="text" name="q" placeholder="Search races" value="{{ query }}" />
  <button type="submit">Search</button>
</form>

<ul class="list-group">
  {% for race in page_obj %}
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <div>
      <a href="{% url 'race_detail' race.pk %}" class="fw-bold">{{ race.name }}</a> - {{ race.date }}
    </div>
    {% if user.is_authenticated %}
      {% if race.id in registration_dict %}
        {% with registration=registration_dict|get_item:race.id %}
        <div>
          <a href="{% url 'delete_registration' registration.pk %}" class="btn btn-sm btn-danger">Удалить</a>
        </div>
        {% endwith %}
      {% else %}
        <div>
          <form method="post" action="{% url 'register_racer' %}">
            {% csrf_token %}
            <input type="hidden" name="race_id" value="{{ race.id }}" />
            <button type="submit" class="btn btn-sm btn-success">Зарегистрироваться</button>
          </form>
        </div>
      {% endif %}
    {% endif %}
  </li>
  {% endfor %}
</ul>

<div class="pagination">
  <span class="step-links">
    {% if page_obj.has_previous %}
    <a href="?q={{ query }}&page=1">&laquo; first</a>
    <a href="?q={{ query }}&page={{ page_obj.previous_page_number }}">previous</a>
    {% endif %}

    <span class="current">
      Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
    </span>

    {% if page_obj.has_next %}
    <a href="?q={{ query }}&page={{ page_obj.next_page_number }}">next</a>
    <a href="?q={{ query }}&page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
    {% endif %}
  </span>
</div>

{% if not page_obj %}
<p>Нет доступных гонок.</p>
{% endif %}
{% endblock %}