<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Car Owner Page</title>
</head>
<body>
    <h2>Car Owner</h2>
    <div>
        ID: {{owner.id}}
    </div>
    <br>
    <div>
        Name: <b>{{owner.first_name}} {{owner.last_name}}</b>
    </div>
    <br>
    <div>
        Birth date: <i>{{owner.birth_date}}</i>
    </div>
</body>
</html>