{% extends 'base.html' %}
{% load bootstrap4 %}

{% block title %}Управление заданиями{% endblock %}
{% block content %}
    <h2 class="mb-4">Управление заданиями</h2>

    <a href="{% url 'homework_create' %}" class="btn btn-success mb-4">Добавить новое задание</a>

    {% if homeworks %}
        <div class="list-group">
            {% for homework in homeworks %}
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">{{ homework.subject.name }}</h5>
                        <p class="card-text">{{ homework.description }}</p>
                        <p><strong>Преподаватели:</strong> {{ homework.subject.teachers.all|join:", " }}</p>
                        <a href="{% url 'submission_list' homework.id %}" class="btn btn-primary">Проверить выполнение</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>Нет доступных домашних заданий.</p>
    {% endif %}
{% endblock %}
