.DS_Store
Thumbs.db

*.venv/
*.env/
env/
venv/
ENV/

*.pyc
__pycache__/
*.pyo
*.pyd
*.pdb

*.log

.vscode/
.idea/
*.sublime-workspace
*.sublime-project

db.sqlite3

.env
.env.local
.env.*.local

/static/
/media/

# Исключаем миграции
**/migrations/*

pip-log.txt
pip-delete-this-directory.txt

.coverage
.tox/
*.cover
*.coverage.*
nosetests.xml
test_*.xml

*.pot
local_settings.py

*.dockerfile
docker-compose*

*.code-workspace
