{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Форма входа</title>
    <link rel="stylesheet" href="{% static 'users/css/login.css' %}"> <!-- Подключите свой файл стилей -->
</head>
<body>
    <div class="login-container">
        <h1>Вход в систему</h1>
        <form action="{% url 'users:login' %}" method="POST">
            {% csrf_token %}<!-- Укажите URL для обработки формы -->
            <div class="form-group">
                <label for="form.username.id_for_label">Имя пользователя:</label>
                {{ form.username }}
            </div>
            <div class="form-group">
                <label for="form.password.id_for_label">Пароль:</label>
                 {{ form.password }}
            </div>
            <button type="submit">Войти</button>
        </form>
        <p>Нет аккаунта? <a href="{% url 'users:registration' %}">Зарегистрироваться</a></p> <!-- Ссылка на регистрацию -->
    </div>
</body>
</html>
