<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Edit user</title>
</head>
<body>
<div class="container mt-5">
    <h1 class="mb-4">🔄 Edit user</h1>
    <form method="post" class="mb-3">
        {% csrf_token %}
        {{ user_form.as_p }}
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</div>
</body>
</html>