{% extends 'base.html' %}
{% block content %}
<div class="d-flex justify-content-center align-items-center" style="min-height: 50vh;">
    <div class="container" style="max-width: 500px;">
        {% if request.user.is_authenticated %}
        <h1 class="mb-4 text-center">Регистрация гонщика</h1>
        <form method="post" class="mb-3 text-center">
            {% csrf_token %}
            <div class="form-group text-center">
                {{ racer_form.as_p }}
            </div>
            <div>
                <button type="submit" class="btn btn-primary">Сохранить</button>
            </div>
        </form>
        {% endif %}
    </div>
</div>
{% endblock %}