<header class="w-full bg-blue-400 mb-6">
  <nav class="container m-auto flex p-4 justify-center gap-10">
    <a class="text-white font-medium" routerLink="/guests">Гости</a>
    <a class="text-white font-medium" routerLink="/guests/add">
      Добавть гостя</a
    >
    <a class="text-white font-medium" routerLink="/employees"> Работники </a>
    <a class="text-white font-medium" routerLink="/employees/add">
      Нанять работника
    </a>
    <a class="text-white font-medium" routerLink="/rooms">Номера</a>
    <a class="text-white font-medium" routerLink="/reports">Отчеты</a>
  </nav>
</header>
<router-outlet />
