{% extends "flights/base.html" %}

{% block content %}
    <h2 class="mb-3">Авиарейсы</h2>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Авиакомпания</th>
            <th scope="col">Тип</th>
            <th scope="col">Выход на посадку</th>
            <th scope="col">Время отправления</th>
            <th scope="col">Забронировать</th>
        </tr>
        </thead>
        <tbody>
        {% for flight in flights %}
            <tr class="align-middle">
                <th scope="row">{{ flight.id }}</th>
                <td>{{ flight.airline }}</td>
                <td>{{ flight.get_type_display }}</td>
                <td>{{ flight.gate }}</td>
                <td>{{ flight.date }}</td>
                <td>
                    <a href="{% url "book_flight" flight.id %}" class="btn btn-primary">Забронировать</a>
                </td>
            </tr>
        {% empty %}
            <tr><td colspan="8">Ошибка. Доступные рейсы не найдены.</td></tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

