# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Studying ITMO\WEB\ITMO_ICT_WebDevelopment_2024-2025\students\k3341\Volzheva_Maria\Lab_2\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
