<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Авиасервис{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <header>
        <h1>Авиасервис</h1>
        <nav>
            <ul>
                <li><a href="{% url 'flight_list' %}">Рейсы</a></li>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'booking_list' %}">Мои бронирования</a></li>
                    <li><a href="{% url 'logout' %}">Выйти</a></li>
                {% else %}
                    <li><a href="{% url 'login' %}">Войти</a></li>
                    <li><a href="{% url 'register' %}">Регистрация</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <p>&copy; 2024 Aviasales by Valerie Efimova</p>
    </footer>
</body>
</html>
