{% extends "home.html" %}

{% block content %}
    <div class="container my-4">
        <h4>Добро пожаловать, дорогой ученик!</h4>
        <h6>Класс: {{ our_user.student_class }}</h6>

        <h6>Все дз:</h6>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Предмет</th>
                    <th>Описание</th>
                    <th>Срок сдачи</th>
                    <th>Детали</th>
                </tr>
            </thead>
            <tbody>
                {% for homework in all_homeworks %}
                    <tr>
                        <td>{{ homework.subject }}</td>
                        <td>{{ homework.description }}</td>
                        <td>{{ homework.date_to }}</td>
                        <td><a href="/homework/{{ homework.id }}/" class="btn btn-info btn-sm">Подробнее</a></td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="4">Нет домашних заданий.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <h6>Сданные дз:</h6>
        <form method="get" action="{% url 'home' %}" class="mb-3">
            <input type="number" name="grade" placeholder="Поиск по оценке" value="{{ request.GET.grade }}" style="padding: 10px; flex: 1;">
            <button type="submit" class="btn btn-info">Поиск</button>
        </form>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Задание</th>
                    <th>Дата сдачи</th>
                    <th>Оценка</th>
                    <th>Детали</th>
                </tr>
            </thead>
            <tbody>
                {% for submission in page_obj %}
                    <tr>
                        <td>{{ submission.homework }}</td>
                        <td>{{ submission.submitted_at }}</td>
                        <td>{{ submission.grade }}</td>
                        <td><a href="/submission/{{ submission.id }}/" class="btn btn-info btn-sm">Подробнее</a></td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="4">Нет сделанных домашних заданий.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

    <!-- Блок пагинации -->
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?{% if request.GET.search %}search={{ request.GET.search }}&{% endif %}{% if request.GET.grade %}grade={{ request.GET.grade }}&{% endif %}page=1">Первая</a>
                <a href="?{% if request.GET.search %}search={{ request.GET.search }}&{% endif %}{% if request.GET.grade %}grade={{ request.GET.grade }}&{% endif %}page={{ page_obj.previous_page_number }}">Предыдущая</a>
            {% endif %}

            <span class="current">
                Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}
            </span>

            {% if page_obj.has_next %}
                <a href="?{% if request.GET.search %}search={{ request.GET.search }}&{% endif %}{% if request.GET.grade %}grade={{ request.GET.grade }}&{% endif %}page={{ page_obj.next_page_number }}">Следующая</a>
                <a href="?{% if request.GET.search %}search={{ request.GET.search }}&{% endif %}{% if request.GET.grade %}grade={{ request.GET.grade }}&{% endif %}page={{ page_obj.paginator.num_pages }}">Последняя</a>
            {% endif %}
        </span>
    </div>
    </div>
{% endblock %}
