{% extends 'base.html' %}

{% block title %}Index page{% endblock %}

{% block main_contents %}
    <h1>hello {{ username }}</h1>


    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium animi consequuntur, dolorem ex
        exercitationem illo inventore ipsum quia quis recusandae repellendus rerum sequi vitae! Est fuga nisi, officiis
        quidem temporibus voluptas voluptatem? Atque blanditiis dicta dolor, doloribus inventore itaque iure magnam nemo
        neque praesentium provident quos rem repellat tenetur voluptas!</p>


{% endblock %}
