{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Детали конференции</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
<header>
    <h1>{{ conference.title }}</h1>
</header>

<section>
    <p><strong>Тематика:</strong> {{ conference.topics }}</p>
    <p><strong>Место:</strong> {{ conference.location }}</p>
    <p><strong>Даты:</strong> {{ conference.start_date }} - {{ conference.end_date }}</p>
    <p><strong>Описание:</strong> {{ conference.description }}</p>
    <p><strong>Условия участия:</strong> {{ conference.participation_conditions }}</p>
    <p><strong>Дата создания:</strong> {{ conference.created_at|date:"Y-m-d H:i" }}</p>
    <p><strong>Последнее изменение:</strong> {{ conference.updated_at|date:"Y-m-d H:i" }}</p>

    {% if conference.publication_recommended is not None %}
        <div class="banner {% if conference.publication_recommended %}recommended{% else %}not-recommended{% endif %}">
        <span class="banner-icon">
            {% if conference.publication_recommended %}
                &#x2714;
            {% else %}
                &#x2716;
            {% endif %}
        </span>
            {% if conference.publication_recommended %}
                Конференция рекомендована к публикации.
            {% else %}
                Конференция не рекомендована к публикации.
            {% endif %}
        </div>
    {% endif %}


    {% if user.is_authenticated %}
        {% if user == conference.owner %}
            <p><a href="{% url 'edit_conference' conference.id %}" class="btn">Отредактировать конференцию</a></p>
            <p><a href="{% url 'delete_conference' conference.id %}" class="btn btn-danger">Удалить конференцию</a></p>
            <p><a href="{% url 'view_ratings' conference.id %}" class="btn-link">Посмотреть оценки</a></p>
            <p><a href="{% url 'view_participants' conference.id %}" class="btn-link">Посмотреть участников</a></p>
        {% else %}
            {% if user in conference.participants.all %}
                {% if user in conference.ratings.all %}
                    <p><a href="{% url 'rate_conference' conference.id %}" class="btn-link">Изменить оценку</a></p>
                {% else %}
                    <p><a href="{% url 'rate_conference' conference.id %}" class="btn-link">Оценить</a></p>
                {% endif %}
                <p><a href="{% url 'cancel_registration' conference.id %}" class="btn-link">Отменить регистрацию</a></p>
            {% else %}
                <p><a href="{% url 'register_for_conference' conference.id %}" class="btn-link">Зарегистрироваться</a>
                </p>
            {% endif %}
        {% endif %}
    {% endif %}

    <p><a href="{% url 'conference_list' %}" class="btn-link">Вернуться к списку конференций</a></p>
</section>
</body>
</html>
