{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Список конференций</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
<header>
    <h1>Список научных конференций</h1>
    {% if user.is_authenticated %}
        <p>Вы вошли как {{ user.username }} | <a href="{% url 'logout_redirect' %}">Выйти</a></p>
        <p><a href="{% url 'create_conference' %}" class="btn">Создать новое мероприятие</a></p>
    {% else %}
        <p><a href="{% url 'login' %}">Войти</a> | <a href="{% url 'register' %}">Регистрация</a></p>
    {% endif %}
</header>

<section>
    <form method="get" action="{% url 'conference_list' %}" class="search-form">
        <input type="text" name="q" value="{{ query }}" placeholder="Поиск по конференциям">
        <button type="submit" class="btn">Поиск</button>
    </form>
</section>

<section>
    {% if conferences %}
        <ul>
            {% for conference in conferences %}
                <li>
                    <h2>{{ conference.title }}</h2>
                    <p><strong>Тематика:</strong> {{ conference.topics }}</p>
                    <p><strong>Место:</strong> {{ conference.location }}</p>
                    <p><strong>Даты:</strong> {{ conference.start_date }} - {{ conference.end_date }}</p>
                    <p><strong>Описание:</strong> {{ conference.description }}</p>
                    <p><strong>Условия участия:</strong> {{ conference.participation_conditions }}</p>
                    <p><strong>Дата создания:</strong> {{ conference.created_at|date:"Y-m-d H:i" }}</p>
                    <p><strong>Последнее изменение:</strong> {{ conference.updated_at|date:"Y-m-d H:i" }}</p>


                    <p><a href="{% url 'conference_detail' conference.id %}" class="btn-link">Посмотреть подробности</a>
                    </p>
                    {% if user.is_authenticated %}
                        {% if user != conference.owner %}
                            {% if user in conference.participants.all %}
                                {% if user in conference.ratings.all %}
                                    <p><a href="{% url 'rate_conference' conference.id %}" class="btn-link">Изменить
                                        оценку</a></p>
                                {% else %}
                                    <p><a href="{% url 'rate_conference' conference.id %}" class="btn-link">Оценить</a>
                                    </p>
                                {% endif %}
                                <p><a href="{% url 'cancel_registration' conference.id %}" class="btn-link">Отменить
                                    регистрацию</a></p>
                            {% else %}
                                <p><a href="{% url 'register_for_conference' conference.id %}" class="btn-link">Зарегистрироваться</a>
                                </p>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                </li>
            {% endfor %}
        </ul>

        <div class="pagination">
            {% if conferences.has_previous %}
                <a href="?q={{ query }}&page={{ conferences.previous_page_number }}" class="btn">Предыдущая страница</a>
            {% else %}
                <span class="btn disabled">Предыдущая страница</span>
            {% endif %}

            <span class="page-info">
                    Страница {{ conferences.number }} из {{ conferences.paginator.num_pages }}
                </span>

            {% if conferences.has_next %}
                <a href="?q={{ query }}&page={{ conferences.next_page_number }}" class="btn">Следующая страница</a>
            {% else %}
                <span class="btn disabled">Следующая страница</span>
            {% endif %}
        </div>
    {% else %}
        <p>Конференции не найдены.</p>
    {% endif %}
</section>
</body>
</html>
