{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Отзывы о конференции</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <header>
        <h1>Отзывы о конференции "{{ conference.title }}"</h1>
    </header>

    <section>
        {% if reviews %}
            <ul>
                {% for review in reviews %}
                    <li>
                        <p><strong>{{ review.commenter.username }}</strong> ({{ review.review_date }}):</p>
                        <p>Рейтинг: {{ review.rating }}/10</p>
                        <p>{{ review.text }}</p>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>Отзывов пока нет.</p>
        {% endif %}
    </section>
</body>
</html>
