{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Участники конференций</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <header>
        <h1>Участники конференций</h1>
    </header>

    <section>
        {% if conferences %}
            <ul>
                {% for conference in conferences %}
                    <li>
                        <h2>{{ conference.title }}</h2>
                        <p><strong>Участники:</strong></p>
                        <ul>
                            {% for participant in conference.participants.all %}
                                <li>{{ participant.user.username }} - {{ participant.registered_at }}</li>
                            {% endfor %}
                        </ul>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>Участники не найдены.</p>
        {% endif %}
    </section>
</body>
</html>
