{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Удаление регистрации</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <header>
        <h1>Удаление регистрации</h1>
    </header>

    <section>
        <p>Вы уверены, что хотите удалить регистрацию на "{{ registration.title }}" для конференции "{{ registration.conference.title }}"?</p>
        <form method="post">
            {% csrf_token %}
            <button type="submit">Удалить</button>
            <a href="{% url 'conference_list' %}">Отмена</a>
        </form>
    </section>
</body>
</html>
