{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Редактировать мероприятие</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <header>
        <h1>Редактировать мероприятие</h1>
    </header>

    <section>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Сохранить изменения</button>
        </form>
        <p class="center-text"><a href="{% url 'conference_detail' conference.id %}" class="btn-link">Вернуться к конференции</a></p>
    </section>
</body>
</html>
