{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% if created %}Оценить{% else %}Изменить оценку{% endif %} конференцию</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <header>
        <h1>{% if created %}Оценить{% else %}Изменить оценку{% endif %} конференцию "{{ conference.title }}"</h1>
    </header>

    <section>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">{% if created %}Оценить{% else %}Сохранить изменения{% endif %}</button>
        </form>
        <p><a href="{% url 'conference_detail' conference.id %}" class="btn-link">Вернуться к конференции</a></p>
    </section>
</body>
</html>
