{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% if created %}Регистрация{% else %}Редактирование{% endif %} для выступления</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <header>
        <h1>{% if created %}Регистрация для{% else %}Редактирование{% endif %} выступления на конференции "{{ conference.title }}"</h1>
    </header>

    <section>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">{% if created %}Зарегистрироваться{% else %}Сохранить изменения{% endif %}</button>
        </form>
        {% if not created and registration.id %}
            <p><a href="{% url 'delete_registration' registration.id %}" class="btn-link">Удалить регистрацию</a></p>
        {% endif %}
        <p><a href="{% url 'conference_list' %}" class="btn-link">Вернуться к списку конференций</a></p>
    </section>
</body>
</html>
