{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Оценки участников конференции</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <header>
        <h1>Оценки участников конференции "{{ conference.title }}"</h1>
    </header>

    <section>
        {% if ratings %}
            <ul>
                {% for rating in ratings %}
                    <li>
                        <p><strong>{{ rating.user.username }}</strong>: {{ rating.rating }}/10</p>
                        <p>{{ rating.review }}</p>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>Пока нет оценок.</p>
        {% endif %}
        <p><a href="{% url 'conference_detail' conference.id %}" class="btn-link">Вернуться к конференции</a></p>
    </section>
</body>
</html>
