{% extends 'base.html' %}

{% block content %}
  <h1>Flight Details</h1>
  {% include 'flights/flight_details.html' with flight=flight %}

  <div class="flex-container">
    <div class="available-seats">
      <h2>Available Seats</h2>
      <ul>
        {% for seat in available_seats %}
          <li><a href="{% url 'submit_reservation' flight.pk seat.pk %}" class="seat-number">{{ seat.seat_number }}</a></li>
        {% empty %}
          <li>No available seats.</li>
        {% endfor %}
      </ul>
      {% if user.is_staff %}
        <div class="admin-buttons">
          <a href="{% url 'reservations_list' flight.pk %}" class="styled-button">Reserved seats</a>
          <a href="{% url 'passengers_list' flight.pk %}" class="styled-button">Passengers</a>
        </div>
      {% endif %}
    </div>

    <div class="reviews">
      <h2>Reviews</h2>
      <table>
        {% for review in reviews %}
          <tr>
            {% include 'reviews/review.html' with review=review %}
          </tr>
        {% endfor %}
      </table>
      <a href="{% url 'submit_review' flight.pk %}" class="styled-button">Leave a Review</a>
    </div>
  </div>
{% endblock %}