{% extends 'base.html' %}
{% block content %}

    <h4 class="mb-2">Информация о бронировании</h4>
    <h5 class="card-title">{{ booking.room.room_type }}</h5>
    <p>
        Номер комнаты: {{ booking.room.number }} <br/>
        Отель: {{ booking.room.hotel.name }} <br/>
        Вместимость: {{ booking.room.capacity }} человек<br/>
        Описание: {{ booking.room.description }}<br/>
        <b>Детали брони:</b><br>
        Начало: {{ booking.check_in|date:"d.m.y" }}
        Конец: {{ booking.check_out|date:"d.m.y" }}
    </p>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <p>Вы действительно хотите удалить это бронирование?</p>
        <input class="btn btn-danger" type="submit" value="Удалить">
    </form>

{% endblock %}