{% extends 'base.html' %}
{% block content %}

    <h2 class="mb-4">Комнаты</h2>
    <div class="row mt-4" >
        {% for room in rooms %}
            <div class="card mb-4">
                <div class="card-body">
                    <h4 class="card-title">{{ room.room_type }}</h4>
                    <p class="card-text">
                        Номер комнаты: {{ room.number }} <br/>
                        Отель: {{ room.hotel.name }} <br/>
                        Рейтинг: {{ room.average_rating|default:"Eщё нет отзывов" }}<br/>
                        Вместимость: {{ room.capacity }} человек<br/>
                        Описание: {{ room.description }}<br/>
                        Цена: {{ room.price }} руб. в сутки
                    </p>
                    <div>
                        <a href="{% url 'booking-create' room.id %}" class="btn btn-primary">Бронировать</a>
                        <a href="{% url 'reviews' room.id %}" class="btn btn-cecondary">Отзывы</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}