<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Reservation</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/reservations.css' %}">
</head>
<body>
    <header>
        <h1 align="center">Edit Reservation</h1>
    </header>
    <div class="reservation-container">
        <h3>Reservation № {{reservation.id}}</h3>
        <hr>
        <form method="post">
            {% csrf_token %}
            New start date: <input type="date" name="start_date" value="{{ reservation.start_date }}" required>
            <br>
            New end date: <input type="date" name="end_date" value="{{ reservation.end_date }}" required>
            <br>
            <div class="reservation-actions">
                <button type="submit" class="reservation-button">Save Changes</button>
            </div>
        </form>
    </div>
</body>
</html>
