{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Удаление сдачи</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>

    <h1>Удалить сдачу</h1>
    <p>Вы уверены, что хотите удалить "{{ submission.homework.subject }}"?</p>

    <form method="post">
        {% csrf_token %}
        <button type="submit">Удалить</button>
    </form>

    <a href="{% url 'submission_list' %}">Отмена</a>

</body>
</html>
