body {
    background-color: #f5f5f5;
    font-family: 'Arial', sans-serif;
}

h1 {
    color: #343a40;
    font-weight: bold;
    font-size: 2rem;
}

h2 {
    color: #343a40;
    font-weight: bold;
    font-size: 1.3rem;
}

.logo {
    height: 40px;
    width: auto;
    margin-right: 5px;
}

.container {
    padding: 20px;
}

.footer {
    background-color: #f5f5f5;
    padding: 10px 0;
    text-align: center;
    font-size: 0.9rem;
    color: #6c757d;
    width: 100%;
    border-top: 1px solid #e6e7e8;
}

.btn-success {
    background-color: #3b8f40;
    border-color: #436b4c;
    color: #fff;
}

.btn-success:hover {
    background-color: #436b4c;
    border-color: #35593a;
}

.btn-info {
    background-color: #49b8d6;
    border-color: #49b8d6;
    color: #fff;
}

.btn-info:hover {
    background-color: #4196a3;
    border-color: #2d6d77;
}

.button-list {
    display: flex;
    flex-direction: column;
    max-width: 350px;
    padding-left: 0;
}

.button-list .btn {
    width: 100%;
    padding: 15px 20px;
    text-align: left;
    font-size: 1.1rem;
}

.display-4 {
    font-size: 2rem;
    font-weight: bold;
}

.search {
    color: #49b8d6;
    background-color: #f5f5f5;
    border-color: #49b8d6;
}

.search:hover {
    background-color: #4196a3;
    border-color: #49b8d6;
}

/* Логин и регистрация */
.login-container, .register-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.login-container h1, .register-container h1 {
    font-size: 1.5rem;
    color: #343a40;
    font-weight: bold;
    margin-bottom: 20px;
}

.login-form input, .register-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 0.9rem;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

.login-form button, .register-form button {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    color: #fff;
    background-color: #3b8f40;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.login-form button:hover, .register-form button:hover {
    background-color: #436b4c;
}


/* Кнопки регистрации на странице деталей конференции */
.button-group {
    display: flex;
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 40px;
}

.button-group form {
    margin: 0;
}

.button-group .btn {
    min-width: 220px;
}

/* Крточки */
.conference-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    height: 280px
    width: 480px
}

.conference-card:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.row.justify-content-center {
    display: flex;
    justify-content: center;
}

/* Пагинация */
.custom-pagination {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 20px 0;
}

.custom-pagination .page-item {
    display: inline-block;
}

.custom-pagination .page-link {
    padding: 10px 15px;
    font-size: 1rem;
    color: #3b8f40;
    background-color: #f5f5f5;
    border: 1px solid #3b8f40;
    border-radius: 5px;
    width: 250px;
    text-align: center;
}

.custom-pagination .page-link:hover {
    background-color: #436b4c;
    border-color: #436b4c;
    color: #ffffff;
}
