<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if form.instance.id %}Изменить{% else %}Создать{% endif %} автомобиль</title>
</head>
<body>
    <h1>{% if form.instance.id %}Изменить{% else %}Создать{% endif %} автомобиль</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}  
        <input type="submit" value="Сохранить">
    </form>
    <a href="/car_list/">Get back - car list</a>
</body>
</html>
