API__INTERNAL_HOST=api
API__PORT=8080

DB__HOST=postgres
DB__PORT=5432
DB__DATABASE=commercial_buses
DB__USER=postgres
DB__PASSWORD=postgres

AUTH__SECRET_TOKEN=secret
AUTH__ACCESS_TOKEN_LIFETIME=3600