<div class="container">
  <h1>Регистрация</h1>
  <form #registerForm="ngForm" (ngSubmit)="register()" novalidate>
    <div class="form-group">
      <label for="username">Имя пользователя</label>
      <input
        id="username"
        class="form-control"
        [(ngModel)]="user.username"
        name="username"
        required
        #username="ngModel"
      />
      <div *ngIf="username.invalid && username.touched" class="text-danger">
        Имя пользователя обязательно
      </div>
      <div *ngIf="errors['username']" class="text-danger">
        {{ errors['username'].join(' ') }}
      </div>
    </div>

    <div class="form-group">
      <label for="password">Пароль</label>
      <input
        id="password"
        type="password"
        class="form-control"
        [(ngModel)]="user.password"
        name="password"
        required
        #password="ngModel"
      />
      <div *ngIf="password.invalid && password.touched" class="text-danger">
        Пароль обязателен
      </div>
      <div *ngIf="errors['password']" class="text-danger">
        {{ errors['password'].join(' ') }}
      </div>
    </div>

    <div class="form-group">
      <label for="first_name">Имя</label>
      <input
        id="first_name"
        class="form-control"
        [(ngModel)]="user.first_name"
        name="first_name"
        required
        #firstName="ngModel"
      />
      <div *ngIf="firstName.invalid && firstName.touched" class="text-danger">
        Имя обязательно
      </div>
      <div *ngIf="errors['first_name']" class="text-danger">
        {{ errors['first_name'].join(' ') }}
      </div>
    </div>

    <div class="form-group">
      <label for="last_name">Фамилия</label>
      <input
        id="last_name"
        class="form-control"
        [(ngModel)]="user.last_name"
        name="last_name"
        required
        #lastName="ngModel"
      />
      <div *ngIf="lastName.invalid && lastName.touched" class="text-danger">
        Фамилия обязательна
      </div>
      <div *ngIf="errors['last_name']" class="text-danger">
        {{ errors['last_name'].join(' ') }}
      </div>
    </div>

    <div class="form-group">
      <label for="email">Email</label>
      <input
        id="email"
        type="email"
        class="form-control"
        [(ngModel)]="user.email"
        name="email"
        required
        email
        #email="ngModel"
      />
      <div *ngIf="email.invalid && email.touched" class="text-danger">
        Введите корректный email
      </div>
      <div *ngIf="errors['email']" class="text-danger">
        {{ errors['email'].join(' ') }}
      </div>
    </div>

    <button
      type="submit"
      class="btn btn-primary"
      [disabled]="registerForm.invalid || isSubmitting"
    >
      <span *ngIf="isSubmitting">Регистрация...</span>
      <span *ngIf="!isSubmitting">Зарегистрироваться</span>
    </button>
  </form>

  <div *ngIf="errors['general']" class="text-danger mt-3">
    {{ errors['general'].join(' ') }}
  </div>

  <div class="mt-3">
    <p>
      Уже есть аккаунт?
      <button class="btn btn-link" (click)="goToLogin()">Войти!</button>
    </p>
  </div>
</div>
