.modal__shadow {
        position: absolute;
        top: 0;
        left: 0;
        min-height: 100%;
        width: 100%;
        background: rgba(0, 0, 0, 0.39);
    }
 
    .modal {
        max-width: 600px;
        padding: 2rem;
        background-color: #f9f9f9;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
 
        &__close {
            border-radius: 50%;
            color: #fff;
            background: #52545b;
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: 7px;
            right: 7px;
            width: 30px;
            height: 30px;
            cursor: pointer;
        }
 
        &__title {
            color: #b61815;
        }
 
        &__content {
            margin-bottom: 20px
        }
 
        &__footer {
            &__cancel__button {
                background-color: #1f5ae4;
                color: #fff;
                border: none;
                text-align: center;
                padding: 8px;
                font-size: 17px;
                font-weight: 500;
                border-radius: 8px;
                min-width: 150px;
                margin-right: 5%;
            }
            &__cancel__button:hover {
                background-color: #1b50cd;
            }
            &__delete__button {
                background-color: #ffffff;
                color: #ed0d0d;
                border: none;
                text-align: center;
                padding: 8px;
                font-size: 17px;
                font-weight: 500;
                border-radius: 8px;
                min-width: 150px;
                margin-right: 5%;
                border: 1px solid;
            }
            &__delete__button:hover {
                background-color: #f5f5f5;
            }
        }
    }