<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Форма задания</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0-alpha1/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
        <a class="navbar-brand" href="/home">Главная</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Выйти</a>
                </li>
            </ul>
        </div>
    </nav>

    <h1 class="mb-4"
        th:text="${homework.id != null ? 'Редактирование домашнего задания' : 'Создание нового домашнего задания'}"></h1>
    <form th:action="${homework.id != null ? '/teacher/homeworks/edit' : '/teacher/homeworks'}" th:object="${homework}" method="post">
        <input type="hidden" th:field="*{id}"/>

        <div class="mb-3">
            <label for="classroom" class="form-label">Класс</label>
            <select class="form-control" id="classroom" th:field="*{classroom.id}" required>
                <option th:each="c : ${teacherClasses}" th:value="${c.id}" th:text="${c.name}"></option>
            </select>
        </div>

        <div class="mb-3">
            <label for="number" class="form-label">Номер задания</label>
            <input type="number" id="number" th:field="*{number}" class="form-control" required>
        </div>

        <div class="mb-3">
            <label for="dueDate" class="form-label">Дата выдачи</label>
            <input type="date" id="dueDate" th:field="*{dueDate}" class="form-control" required>
        </div>

        <div class="mb-3">
            <label for="maxGrade" class="form-label">Максимальная оценка</label>
            <input type="number" id="maxGrade" th:field="*{maxGrade}" class="form-control" required>
        </div>

        <div class="mb-3">
            <label for="executionPeriod" class="form-label">Срок выполнения (в днях)</label>
            <input type="number" id="executionPeriod" th:field="*{executionPeriod}" class="form-control">
        </div>

        <div class="mb-3">
            <label for="description" class="form-label">Описание</label>
            <textarea id="description" th:field="*{description}" class="form-control"></textarea>
        </div>

        <div class="mb-3">
            <label for="penaltyInfo" class="form-label">Информация о штрафах</label>
            <textarea id="penaltyInfo" th:field="*{penaltyInfo}" class="form-control"></textarea>
        </div>

        <button type="submit" class="btn btn-primary">Сохранить</button>
        <a href="/teacher/homeworks" class="btn btn-secondary ms-2">Отмена</a>
    </form>

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0-alpha1/js/bootstrap.bundle.min.js"></script>
</body>
</html>
