{% extends 'base.html' %}
{% block content %}

    <h2 class="mb-4">Change Booking {{ object.room.room_type }}</h2>
    <body>
    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="start_date" class="form-label">Booking Date (from): </label>
            {{ form.start_date }}
        </div>
        <div class="mb-3">
            <label for="end_date" class="form-label">Booking Date (to): </label>
            {{ form.end_date }}
        </div>
        <button type="submit" class="btn btn-success">Save</button>
        <a href="{% url 'bookings' %}" class="btn btn-secondary">Back</a>
    </form>
    </body>

{% endblock %}