{% extends 'base.html' %}
{% block content %}

    <h2 class="mb-4">Delete booking</h2>
    <body>
    <form method="post">{% csrf_token %}
        <p>Are you certain, you want to delete booking <strong>
            {{ object.room.room_type }}</strong>
            in <strong>{{ object.room.hotel.name }}</strong>?</p>
        <button type="submit" class="btn btn-danger">Yes</button>
        <a href="{% url 'bookings' %}" class="btn btn-secondary">Back</a>
    </form>
    <br>
    <br>
    </body>

{% endblock %}