<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <!-- Подключаем файл style.css -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

<header>
    <h1>Flight Information System</h1>
</header>

<main>
    <h2>Sign Up</h2>
    <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Register</button>
    </form>

    {% if error %}
        <p>{{ error }}</p>
    {% endif %}
</main>

<footer>
    <p>&copy; 2024 Flight Information System</p>
</footer>

</body>
</html>
