<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">А-ВИ-А-СЕЙЛС!</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Табло</a>
        </li>
          {% if request.user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/my-races">Мои рейсы</a>
            </li>
        {% endif %}
        <li class="nav-item">
          <a class="nav-link disabled" aria-disabled="true">Билеты зарубеж <span class="badge text-bg-danger">dev</span> </a>
        </li>
      </ul>
      <div>
          {% if request.user.is_authenticated %}
            <a href="/profile" style="text-decoration: none; color: inherit;">Добро пожаловать, <b>{{request.user.username}}!</b></a>
          {% else %}
            <a class="btn btn-primary" href="/register">Регистрация</a>
            <a class="btn btn-outline-primary" href="/login">Вход</a>
          {% endif %}
      </div>
    </div>
  </div>
</nav>