{% extends 'layout.html' %}

{% block content %}
    <div class="container">
        <div class="card mt-4">
            <div class="card-header">
                <h3>
                    {{request.user.first_name}} {{request.user.last_name}}
                </h3>
                <span>
                    Надеемся, у вас хороший день!
                </span>
            </div>
            <div class="card-body">
                <a class="btn btn-danger" href="/logout">Выйти из аккаунта</a>
            </div>
        </div>
    </div>
{% endblock %}