@import url('./themes.css');

header.index-header{
    background-color: transparent;
}

.index-menu li{
    display: inline-block;
}

.index-menu li a{
    text-decoration: none;
    color: var(--primary-color);
    padding: 5px 20px;
    border: 1px solid var(--primary-color);
    transition: 0.6s ease;
}

.index-menu li a:hover{
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.index-background{
    position: fixed;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/index/brooklyn.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.index-title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.index-title h1{
    text-transform: uppercase;
    color: var(--primary-color);
    font-size: 70px;
}

.index-title h2{
    text-align: center;
    color: var(--primary-color);
    font-size: 20px;
}

.index-button{
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.index-btn{
    border: 1px solid var(--primary-color);
    padding: 10px 30px;
    color: var(--primary-color);
    text-transform: uppercase;
    text-decoration: none;
    transition: 0.6s ease;
}

.index-btn:hover{
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

header{
    background-color: var(--secondary-color);
    position: fixed;
    width: 100%;
    height: 70px;
    background-size: cover;
    background-position: center;
    z-index: 1000;
}

.top-bar {
    background-color: var(--secondary-color);
    height: 100%;
}

.menu {  
    float: right;
    list-style-type: none;
    margin-top: 25px;
}

.menu li{
    display: inline-block;
}

.menu li a{
    text-decoration: none;
    color: var(--primary-color);
    padding: 5px 20px;
    transition: 0.6s ease;
}

.menu li a:hover{
    background-color: var(--primary-color);
    color: var(--primary-back);
}

.menu li.active a{
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.logo {
    position: absolute;
    margin-top: 12px;
    float: left;
}

.logo-icon {
    width: 50px;
    height: 50px;
    stroke: var(--primary-color);
}

