{% extends 'base.html' %}

{#{% block title %}Hotel List{% endblock %}#}

{% block content %}

<h2 class="mb-2">Hotel List</h2>
    {% for hotel in hotels %}
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">{{ hotel.name }}</h3>
                <p class="card-text"><strong>Owner: </strong>{{ hotel.owner }}</p>
                <p class="card-text"><strong>Address: </strong>{{ hotel.address }}</p>
                <p class="card-text">{{ hotel.description }}</p>
                <a href="{% url 'rooms' hotel_id=hotel.id %}" class="btn btn-success">See rooms</a>
            </div>
        </div>
    {% endfor %}

{% endblock %}