<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <title>Homeworks Board</title>
  </head>
  <body>
    <h1>
        Homeworks board
    </h1>
    {% if student == null %}
    <a href="/signup">Создать аккаунт</a>
    <br>
    <a href="/signin">Войти в аккаунт</a>
    {% else %}
    <div>
        <p>Здравствуйте, {{ student.name }}!</p>
        <a href="/logout">Выйти из аккаунта</a>
    </div>
    <br>
    <ul>
        <li><a href="/tasks">Домашние задания</a></li>
        <li><a href="/grades">Журнал класса</a></li>
    </ul>
    {% endif %}
  </body>
</html>
