<div class="container">
  <h1>Мой аккаунт</h1>
  <div *ngIf="user; else loading">
    <p><strong>Имя:</strong> {{ user.first_name }}</p>
    <p><strong>Фамилия:</strong> {{ user.last_name }}</p>
    <p><strong>Email:</strong> {{ user.email }}</p>
    <p><strong>Имя пользователя:</strong> {{ user.username }}</p>
    <button class="btn btn-secondary" (click)="goToHome()">Вернуться в главное меню</button>
    <button class="btn btn-danger" (click)="logout()">Выйти</button>
  </div>
  <ng-template #loading>
    <p>Загрузка данных...</p>
  </ng-template>
</div>
