<!DOCTYPE html>
<html>
<head>
    <title>Автомобиль {{ car.id }}</title>
    {% load static %}
    <link href="{% static 'project_first_app/css/style.css' %}" rel="stylesheet">
</head>
<body>
    <div class="nav-links">
        <a href="{% url 'owners' %}" class="btns">Владельцы</a>
        <a href="{% url 'cars' %}" class="btns">Автомобили</a>
    </div>

    <h1>Информация об автомобиле</h1>

    <div class="car-info">
        <p><strong>ID:</strong> {{ car.car_id }}</p>
        <p><strong>Номер:</strong> {{ car.number }}</p>
        <p><strong>Марка:</strong> {{ car.brand }}</p>
        <p><strong>Модель:</strong> {{ car.model }}</p>
        <p><strong>Цвет:</strong> {{ car.color }}</p>
    </div>

    <div class="action-links">
        <a href="{% url 'cars' %}" class="btn-edit">← Назад к списку</a>
    </div>
</body>
</html>