<!DOCTYPE html>
<html>
<head>
    <title>Редактирование автомобиля</title>
    {% load static %}
    <link href="{% static 'project_first_app/css/style.css' %}" rel="stylesheet">
</head>
<body>
    <div class="nav-links">
        <a href="{% url 'owners' %}" class="btns">Все владельцы</a>
        <a href="{% url 'cars' %}" class="btns">Все автомобили</a>
    </div>

    <h1>Редактирование автомобиля</h1>

    <div class="form-container">
        <form method="post">
            {% csrf_token %}
            
            <div class="form-group">
                <label for="id_number">Гос номер:</label>
                <input type="text" name="number" value="{{ form.number.value }}" id="id_number" required>
            </div>
            
            <div class="form-group">
                <label for="id_brand">Марка:</label>
                <input type="text" name="brand" value="{{ form.brand.value }}" id="id_brand" required>
            </div>
            
            <div class="form-group">
                <label for="id_model">Модель:</label>
                <input type="text" name="model" value="{{ form.model.value }}" id="id_model" required>
            </div>
            
            <div class="form-group">
                <label for="id_color">Цвет:</label>
                <input type="text" name="color" value="{{ form.color.value }}" id="id_color">
            </div>

            <button type="submit" class="btn">Сохранить изменения</button>
            <a href="{% url 'car' object.car_id %}" class="btn-cancel">Отмена</a>
        </form>
    </div>
</body>
</html>