.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.report-container,
.add-lesson-form,
.teacher-info,
.student-info,
.edit-form {
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.report-container {
  max-width: 800px;
}

.form-container {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  width: 210px;
}
.rooms-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
  justify-items: center;
}

.room-card {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  text-align: center;
  width: 250px;
}

.room-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.room-card h2 {
  margin-bottom: 10px;
  font-size: 18px;
  color: #333;
}

.room-card p {
  margin: 0;
  font-size: 14px;
  color: #666;
}

.lesson-card {
  padding: 15px;
  background-color: #f9f9f9;
  margin-bottom: 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.page-title {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.add-lesson-form h2,
.edit-form h2 {
  margin-bottom: 20px;
  font-size: 20px;
}

.edit-form h2 {
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group select,
.form-group input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  box-sizing: border-box;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.lesson-day {
  margin-top: 30px;
}

form input {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-label-inline {
  font-size: 16px;
  font-weight: bold;
  margin-right: 10px;
}

.select-container-inline {
  flex: 1;
}

.custom-select {
  width: 100%;
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  outline: none;
  cursor: pointer;
}

.custom-select:hover {
  border-color: #888;
}

.gender-count {
  margin-bottom: 20px;
}

.form-actions {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}
