{% extends "base.html" %}
{% load static %}
{% block title %}Обновить тур: {{ tour.name }}{% endblock %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/tour_update.css' %}">
{% endblock %}
{% block content %}
    <div class="tour-update-container">
        <h2>Обновить информацию о туре: {{ tour.name }}</h2>

        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Сохранить изменения</button>
        </form>
    </div>
{% endblock %}
