<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Car</title>
</head>
<body>
    <h1>Create a New Car</h1>

    {% if form.errors %}
        <div class="error-messages">
            <ul>
                {% for field, errors in form.errors.items %}
                    <li>{{ field.label }}:
                        {% for error in errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Create">
        <a href="{% url 'all_cars' %}">Cancel</a>
    </form>
</body>
</html>