<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/register.css' %}">
</head>
<body>
    <div class="container">
        <h1>Login</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn">Login</button>
        </form>
        <p>Don't have an account? <a href="{% url 'register' %}">Register here</a></p>
    </div>
</body>
</html>
