{% extends 'base.html' %}
{% block content %}
<h1>{{ title }}</h1>
    <form class="booking-form" method="post">
        {% csrf_token %}
        {{ form.as_p }}

        <p>
            <strong>Total Price:</strong>
            <span id="totalPrice" data-base-price="{{ total_price }}">
                {% if booking %}
                    {{ booking.total_price|floatformat:2 }} ₽
                {% else %}
                    0 ₽
                {% endif %}
            </span>
        </p>

        <button type="submit">Save Changes</button>
    </form>
    <a class="update-form-button" href="{% url 'my_bookings' %}">Back to My Bookings</a>
{% endblock %}
