.login-container {
    background-color: #ffffff;
    color: #cc0000;
    font-family: 'Courier New', Courier, monospace;
    padding: 20px;
    margin-top: 80px;
}

.login-container h2 {
    color: #cc0000;
}

.login-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #cc0000;
    border-radius: 5px;
}

.login-container input::placeholder {
    color: #999;
}

.login-container button {
    background-color: #cc0000;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    width: 48%;
}

.login-container button:hover {
    background-color: #ff6666;
}

.button-container {
    display: flex;
    justify-content: space-between;
}
