{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/submit_reservation.css' %}">
{% endblock %}


{% block content %}
    <div class="reservation-container">
        <h1 class="highlight">Reserve Seat {{ seat.seat_number }} on Flight {{ flight.flight_number }}</h1>

        <form method="post" class="reservation-form">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="submit-button">Submit Reservation</button>
        </form>

        <a href="{% url 'flight_detail' flight.pk %}" class="back-link">Back to Flight Details</a>
    </div>
{% endblock %}