<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Car Owner Info</title>
</head>
<body>
    <h1>Car Owner Info</h1>
    <p><strong> First name: </strong> {{ owner.first_name }}</p>
    <p><strong> Last name: </strong> {{ owner.last_name }}</p>
    <p><strong> Birth Date: </strong> {{ owner.date_of_birth }}</p>
    <p><strong> Passport: </strong> {{ owner.passport }}</p>
    <p><strong> Address: </strong> {{ owner.address }}</p>
    <p><strong> Nationality: </strong> {{ owner.nationality }}</p>
</body>
</html>