<div class="container mt-5">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <a class="text-decoration-none text-primary" (click)="navigateTo('')">
      <h2 class="m-0">{{ appName }}</h2>
    </a>
    <h2 class="m-0">Сотрудники</h2>
    <div class="d-flex align-items-center">
      <a class="me-3 text-decoration-none" (click)="navigateTo('account')">
        <strong>{{ username }}</strong>
      </a>
      <button class="btn btn-outline-danger btn-sm" (click)="logout()">Выйти</button>
    </div>
  </div>

  <div class="mb-3">
    <button class="btn btn-success" (click)="openAddEmployeeForm()">Нанять нового сотрудника</button>
  </div>

  <div *ngIf="showEmployeeForm" class="card p-3">
    <h4>{{ isEditMode ? 'Редактирование сотрудника' : 'Найм нового сотрудника' }}</h4>
    <form>
      <div class="mb-3">
        <label for="passportNumber" class="form-label">Номер паспорта</label>
        <input
          type="text"
          id="passportNumber"
          class="form-control"
          [(ngModel)]="currentEmployee.passport_number"
          name="passportNumber"
        />
        <div *ngIf="validationErrors['passport_number']" class="text-danger">
          <ul>
            <li *ngFor="let error of validationErrors['passport_number']">
              {{ error }}
            </li>
          </ul>
        </div>
      </div>
      <div class="mb-3">
        <label for="firstName" class="form-label">Имя</label>
        <input
          type="text"
          id="firstName"
          class="form-control"
          [(ngModel)]="currentEmployee.first_name"
          name="firstName"
        />
        <div *ngIf="validationErrors['first_name']" class="text-danger">
          <ul>
            <li *ngFor="let error of validationErrors['first_name']">
              {{ error }}
            </li>
          </ul>
        </div>
      </div>
      <div class="mb-3">
        <label for="lastName" class="form-label">Фамилия</label>
        <input
          type="text"
          id="lastName"
          class="form-control"
          [(ngModel)]="currentEmployee.last_name"
          name="lastName"
        />
        <div *ngIf="validationErrors['last_name']" class="text-danger">
          <ul>
            <li *ngFor="let error of validationErrors['last_name']">
              {{ error }}
            </li>
          </ul>
        </div>
      </div>
      <div class="mb-3">
        <label for="middleName" class="form-label">Отчество</label>
        <input
          type="text"
          id="middleName"
          class="form-control"
          [(ngModel)]="currentEmployee.middle_name"
          name="middleName"
        />
        <div *ngIf="validationErrors['middle_name']" class="text-danger">
          <ul>
            <li *ngFor="let error of validationErrors['middle_name']">
              {{ error }}
            </li>
          </ul>
        </div>
      </div>

      <div class="mb-3">
        <label for="position" class="form-label">Должность</label>
        <select
          id="position"
          class="form-select"
          [(ngModel)]="currentEmployee.position_id"
          name="position"
        >
          <option *ngFor="let position of positions" [value]="position.id">
            {{ position.name }}
          </option>
        </select>
      </div>
      <div class="mb-3">
        <label for="contractType" class="form-label">Тип контракта</label>
        <select
          id="contractType"
          class="form-select"
          [(ngModel)]="currentEmployee.contract_type"
          name="contractType"
        >
          <option value="PERMANENT">Бессрочный</option>
          <option value="FIXED_TERM">Срочный</option>
          <option value="CIVIL_CONTRACT">Гражданский договор</option>
        </select>
      </div>
      <div class="mb-3">
        <label for="startDate" class="form-label">Дата начала
          контракта{{ isEditMode ? ' (возможно изменить только при смене типа контракта)' : '' }}</label>
        <input
          type="date"
          id="startDate"
          class="form-control"
          [(ngModel)]="currentEmployee.start_date"
          name="startDate"
        />
        <div *ngIf="validationErrors['start_date']" class="text-danger">
          <ul>
            <li *ngFor="let error of validationErrors['start_date']">
              {{ error }}
            </li>
          </ul>
        </div>
      </div>

      <div class="mb-3">
        <label for="endDate" class="form-label">Дата окончания
          контракта{{ isEditMode ? ' (возможно изменить только при смене типа контракта)' : '' }}</label>
        <input
          type="date"
          id="endDate"
          class="form-control"
          [(ngModel)]="currentEmployee.end_date"
          name="endDate"
        />
        <div *ngIf="validationErrors['end_date']" class="text-danger">
          <ul>
            <li *ngFor="let error of validationErrors['end_date']">
              {{ error }}
            </li>
          </ul>
        </div>
      </div>

      <button class="btn btn-primary" type="button" (click)="saveEmployee()">Сохранить</button>
      <button class="btn btn-secondary" type="button" (click)="closeEmployeeForm()">Отмена</button>
    </form>
  </div>

  <table class="table table-striped">
    <thead>
    <tr>
      <th>#</th>
      <th>Имя</th>
      <th>Фамилия</th>
      <th>Отчество</th>
      <th>Должность</th>
      <th>Тип контракта</th>
      <th>Дата начала</th>
      <th>Дата окончания</th>
      <th>Дата расторжения</th>
      <th>Действия</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let employee of employees | slice: (page - 1) * itemsPerPage : page * itemsPerPage; let i = index">
      <td>{{ (page - 1) * itemsPerPage + i + 1 }}</td>
      <td>{{ employee.first_name }}</td>
      <td>{{ employee.last_name }}</td>
      <td>{{ employee.middle_name || '—' }}</td>
      <td>{{ employee.position?.name || 'Нет должности' }}</td>
      <td>{{ employee.contract?.contract_type || '—' }}</td>
      <td>{{ employee.contract?.start_date || '—' }}</td>
      <td>{{ employee.contract?.end_date || '—' }}</td>
      <td>{{ employee.contract?.termination_date || '—' }}</td>
      <td>
        <button
          class="btn btn-warning btn-sm"
          (click)="openEditEmployeeForm(employee)"
        >
          Редактировать
        </button>
        <button
          class="btn btn-danger btn-sm"
          (click)="confirmTermination(employee)"
          [disabled]="!employee.position"
        >
          Уволить
        </button>
      </td>
    </tr>
    </tbody>
  </table>

  <div class="backdrop" *ngIf="showModal"></div>

  <div
    class="modal fade show"
    tabindex="-1"
    [ngClass]="{ 'd-block': showModal }"
    *ngIf="showModal"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Подтверждение увольнения</h5>
          <button type="button" class="btn-close" (click)="closeModal()"></button>
        </div>
        <div class="modal-body">
          <p>
            Вы уверены, что хотите уволить сотрудника
            <strong>{{ selectedEmployee?.first_name }} {{ selectedEmployee?.last_name }}</strong>?
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="closeModal()">Отмена</button>
          <button type="button" class="btn btn-danger" (click)="terminateEmployee()">Уволить</button>
        </div>
      </div>
    </div>
  </div>

  <nav *ngIf="employees.length > itemsPerPage">
    <ul class="pagination justify-content-center">
      <li
        class="page-item"
        [class.disabled]="page === 1"
        (click)="page = Math.max(1, page - 1)"
      >
        <a class="page-link">Назад</a>
      </li>
      <li
        class="page-item"
        [class.disabled]="page * itemsPerPage >= employees.length"
        (click)="page = Math.min(page + 1, Math.ceil(employees.length / itemsPerPage))"
      >
        <a class="page-link">Вперёд</a>
      </li>
    </ul>
  </nav>
</div>
