<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <title>Science Conf</title> 
</head>
<body>
  <div class="nav">
    <div class="nav-left">
      <a class="nav-link" href="/conference/{{ object.conference.id }}">Get back</a>
      <a class="nav-link" href="/conference">All conferences</a>
      {% if request.user.is_authenticated %}
      <a class="nav-link" href="/conference/create">Create conference</a>
      {% endif %}
    </div>
    
    {% if request.user.is_authenticated %}
    <div>
      <a class="nav-link" href="/logout">Logout ({{ request.user }})</a>
    </div>
    {% else %}
    <div class="nav-left">
      <a class="nav-link" href="/register">Sign Up</a>
      <a class="nav-link" href="/login">Sign In</a>
    </div>
    {% endif %}
  </div>
    <h1>Review by {{ object.author.first_name }} {{ object.author.last_name }}: {{ object.grade }}/10</h1>
    <p>{{ object.description }}</p>
    <p>Updated last time: {{ object.date }}
        {% if request.user == object.author.user or request.user.username == 'admin' %}
        <a href="update/">Update</a> | <a href="delete/">Delete</a>
        {% endif %}
    </p>
    <h2>Commentaries: {{ comments.count }}</h2>
    <ul>
        {% for comment in comments %}
        <li>
            <p><strong>{{ comment.author.first_name }} {{ comment.author.last_name }}</strong></p>
            <p>{{ comment.description }}</p>
            <p>Added: {{ comment.date }}</p>
        </li>
        {% empty %}
        <li>No comments yet.</li>
        {% endfor %}
    </ul>
    <p> 
      {% if request.user.is_authenticated %}
      <strong>Add new comment</strong>
      <form action="comment/create/" method="post">
          {% csrf_token %}
          <textarea name="description" rows="5" placeholder="Your comment"></textarea>
          <button type="submit">Add comment</button>
      </form>
      {% else %}
      <strong>Sign In to add new comment</strong>
      {% endif %}
    </p>
</body>
</html>