{% extends "base.html" %}

{% block title %}Owner List{% endblock %}

{% block content %}
    <h1>List of Owners</h1>
    <ul class="list-group">
        {% for owner in owners %}
        <li class="list-group-item">
            <a href="{% url 'owner_detail' owner.id %}">{{ owner.first_name }} {{ owner.last_name }}</a>
        </li>
        {% empty %}
        <li class="list-group-item">No owners available</li>
        {% endfor %}
    </ul>
        <a href="{% url 'owner_add' %}" class="btn btn-primary mt-3">Add New Owner</a>
{% endblock %}
