{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static "css/lists.css" %}" />
    <title>Find your perfect Hotel</title>
{% endblock head %}

{% block content %}
    <h1>List of hotels found:</h1>
    <div class="hotel__list__container">
        {% for hotel in hotels %}
            <div class="hotel__list__item">
                {% if hotel.first_picture %}
                    <img src="{{ hotel.first_picture.image.url }}">
                {% endif %}
                <br>
                <b>{{ hotel.name }}</b> {{ hotel.address }}
                <a style="float: right;" href="{{ hotel.pk }}/"> <button class="btn btn-secondary btn-sm"> learn more.. </button> </a>
            </div>
        {% endfor %}
    </div>
    {% include 'pagination.html' %}
{% endblock content %}
