<div class="pagination">
    <span class="step__linkers">
    <span class="current">
        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
    </span>
    {% if page_obj.has_previous %}
        <a href="?page=1"><button class="btn btn-light btn-sm">&laquo; back to first</button></a>
        <a href="?page={{ page_obj.previous_page_number }}"><button class="btn btn-light btn-sm">back</button></a>
    {% endif %}

    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}"><button class="btn btn-light btn-sm">forward</button></a>
        <a href="?page={{ page_obj.paginator.num_pages }}"><button class="btn btn-light btn-sm">last &raquo;</button></a>
    {% endif %}
    </span>
</div>