{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static "css/lists.css" %}" />
    <title>Find your perfect room</title>
{% endblock head %}

{% block content %}
    <h1>{{ hotel.name }} Room List:</h1>
    <div class="room__list__container">
        {% for room in rooms %}
            <div class="room__list__item">
                {% if room.first_picture %}
                    <img src="{{ room.first_picture.image.url }}">
                {% endif %}
                <p>Room {{ room.number }} | {{ room.area }} | {{ room.day_price }}$\day</p>
                <a href="{{ room.pk }}/"><button class="btn btn-secondary" style="width: 100%">See more..</button></a>
            </div>
        {% endfor %}
    </div>
    {% include 'pagination.html' %}
{% endblock content %}

