.container {
  padding: 20px;
}

.animal_data_container {
  padding-top: 16px;
  padding-bottom: 16px;
}

.animal_btn {
  padding: 8px;
  border-radius: 20px;
  background-color: var(--color-primary);
}

.animal_input {
  padding: 8px;
  border-radius: 20px;
}

.animal_btn--row {
  display: flex;
  gap: 8px;
}

.animal_btn--column {
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-width: 300px;
}
