{% extends 'base.html' %}

{% block title %}Log In{% endblock %}

{% block content %}
<h1>Log In</h1>
        <form method="POST">
            {% csrf_token %}
            <label for="username" class="form-label">Username:</label>
            <input type="text" name="username" class="form-control" required id="id_username">

            <label for="password" class="form-label">Password:</label>
            <input type="password" name="password" class="form-control" required id="id_password">

            <button type="submit" class="btn btn-success">Log In</button>
        </form>

        <p>Do not have an account? <a href="{% url 'signup' %}">Sign Up</a></p>
{% endblock %}
