<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>Оценка задания</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'main' %}">Доска домашних заданий</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"><a class="nav-link" href="{% url 'homework_list' %}">Домашние задания</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'submission_list' %}">Мои задания</a></li>
{#                <li class="nav-item"><a class="nav-link" href="{% url 'grades' %}">Таблица оценок</a></li>#}
                <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">Выход</a></li>
            </ul>
        </div>
    </nav>

    <div class="container mt-5">
        <h2>Оценка задания: {{ submission.homework.title }} для {{ submission.student.get_full_name }}</h2>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="grade">Оценка:</label>
                {{ form.grade }}
                {% if form.grade.errors %}
                    <div class="text-danger">
                        {{ form.grade.errors }}
                    </div>
                {% endif %}
            </div>
            <button type="submit" class="btn btn-primary">Сохранить оценку</button>
        </form>
    </div>

    <footer class="text-center mt-5">
        <p>&copy; 2023 Доска домашних заданий</p>
    </footer>
</body>
</html>