{% extends "strap.html" %}

{% block content %}
  <div class="container mt-4">
    <h2>Вы уверены, что хотите удалить регистрацию на конференцию?</h2>

    <p><strong>Конференция:</strong> {{ participant.conference.title }}</p>
    <p><strong>Дата начала:</strong> {{ participant.conference.start_date }}</p>
    <p><strong>Дата окончания:</strong> {{ participant.conference.end_date }}</p>
    <p><strong>Место проведения:</strong> {{ participant.conference.location }}</p>

    <form method="post" class="mt-3">
      {% csrf_token %}
      <button type="submit" class="btn btn-danger">Да, удалить.</button>
      <a href="{% url 'my_participants' %}" class="btn btn-secondary">Нет, не удалять.</a>
    </form>
  </div>
{% endblock %}

