<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Детали автомобиля</title>
</head>
<body>
    <h1>Детали автомобиля</h1>
    <p>Марка: {{ car.car_brand }}</p>
    <p>Модель: {{ car.car_model }}</p>
    <p>Номер: {{ car.car_number }}</p>
    <p>Цвет: {{ car.colour }}</p>
    <a href="{% url 'car_update' car.id %}">Обновить автомобиль</a> |
    <a href="{% url 'car_delete' car.id %}">Удалить автомобиль</a>
    <br><br>
    <a href="/cars/">Вернуться к списку автомобилей</a>
</body>
</html>