<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'dashboard' %}">Система домашних заданий</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'dashboard' %}">Панель управления</a>
                </li>
                {% if user.is_authenticated %}
                    {% if user.role == 'teacher' %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'admin_grade_table' %}">Оценки всех студентов</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'submission_list' %}">Управление заданиями</a>
                        </li>
                    {% endif %}
                    <li class="nav-item">
                        
                        <form method="post" action="{% url 'logout' %}" style="display:inline;">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-link nav-link" style="display:inline; cursor:pointer;">
                                Выйти
                            </button>
                        </form>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Войти</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
