{% extends 'base.html' %}
{% block content %}
    <h2>Мои бронирования</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Номер</th>
                <th>Дата заезда</th>
                <th>Дата выезда</th>
            </tr>
        </thead>
        <tbody>
            {% for booking in bookings %}
                <tr>
                    <td>{{ booking.room.room_type.name }}</td>
                    <td>{{ booking.check_in_date|date:"d.m.Y" }}</td>
                    <td>{{ booking.check_out_date|date:"d.m.Y" }}</td>
                </tr>
            {% empty %}
                <tr><td colspan="3">У вас нет бронирований.</td></tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}