body, html {
    height: 100%;
    margin: 0;
    padding: 10px;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.form-container {
    width: 100%;
    max-width: 600px;
    max-height: 600px;
    overflow-y: auto;
}
.main-container {
    margin-top: 10px;
}