<!DOCTYPE html>
<html>
<head>
    <title>List of car owners</title>
</head>
<body>
    <h1>List of car owners</h1>
    <ul>
        {% for owner in owners %}
            <li>
                <a href="/owner/{{ owner.id }}">{{ owner.first_name }} {{ owner.last_name }} {{ owner.birth_date }}</a>
                <a href="/owner/{{ owner.id }}/update" style="margin-left: 10px;">Update</a>
                <a href="/owner/{{ owner.id }}/delete" style="margin-left: 10px;">Delete</a>
            </li>
        {% endfor %}
    </ul>
    <br>
    <a href="/owner/create">Create</a>
</body>
</html>