body {
    font-family: Arial, sans-serif;
}
table {
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

th {
    background-color: #0084CE;
    color: white;
}