<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Science Conf</title>
</head>
<body>
    <h1>{{object.name}}</h1>
    <p><strong>Description: </strong> {{ object.description }}</p>
    <p><strong>Participate conditionals: </strong> {{ object.participate_conditionals }}</p>
    <p><strong>Location: </strong> {{ object.location }}</p>
    <p><strong>Date of start: </strong> {{ object.date_of_start }}</p>
    <p><strong>Date of finish: </strong> {{ object.date_of_finish }}</p>
    <h2>Speakers</h2>
    <ul>
        {% for conf in object_list %}
        <li><p><strong>{{ conf.speaker.first_name }} {{ conf.speaker.last_name }}</strong>
            - {{ conf.speaking_topic }}</p>
        </li>
        {% empty %}
        <li>Not speakers yet.</li>
        {% endfor %}
        </ul>

</body>
</html>