<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <title>Science Conf</title> 
</head>
<body>
  <div class="nav">
    <div class="nav-left">
      <a class="nav-link" href="/conference">All conferences</a>
      {% if request.user.is_authenticated %}
      <a class="nav-link" href="/conference/create">Create conference</a>
      {% endif %}
    </div>
    
    {% if request.user.is_authenticated %}
    <div>
      <a class="nav-link" href="/logout">Logout ({{ request.user }})</a>
    </div>
    {% else %}
    <div class="nav-left">
      <a class="nav-link" href="/register">Sign Up</a>
      <a class="nav-link" href="/login">Sign In</a>
    </div>
    {% endif %}
  </div>
  <form method="post">{% csrf_token %}
    <p>Are you sure you want to delete conference "{{ object.name }}"?</p>
    <input type="submit" value="Confirm">
  </form>
  <br>
  <br>
</body>
</html>