<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Science Conf</title> 
</head>
<body>
    <!-- <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
  
          <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
            <li><a href="#" class="nav-link px-2 text-secondary">Home</a></li>
            <li><a href="#" class="nav-link px-2 text-white">Features</a></li>
            <li><a href="#" class="nav-link px-2 text-white">Pricing</a></li>
            <li><a href="#" class="nav-link px-2 text-white">FAQs</a></li>
            <li><a href="#" class="nav-link px-2 text-white">About</a></li>
          </ul>
  
          <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
            <input type="search" class="form-control form-control-dark text-bg-dark" placeholder="Search..." aria-label="Search">
          </form>
  
          <div class="text-end">
            <button type="button" class="btn btn-outline-light me-2">Login</button>
            <button type="button" class="btn btn-warning">Sign-up</button>
          </div>
        </div>
      </div> -->
    <span><h1>Conferences</h1><a href="/conference/create">Create new conference</a></span>
    <ul>
    {% for conf in conf_list %}
    <li><strong>{{ conf.name }}</strong>,
      {% if request.user == conf.creator.user or request.user.username == 'admin' %}
        <a href="/conference/{{ conf.id }}/update/">Edit</a> |
        <a href="/conference/{{ conf.id }}/delete/">Delete</a> |
      {% endif %}
        <a href="/conference/{{ conf.id }}/"> Detail </a>
        <p><strong>Location:</strong> {{ conf.location }}</p>
        <p><strong>Starts: </strong>{{ conf.date_of_start }}</p>
    </li>
    {% empty %}
    <li>Not conferences yet.</li>
    {% endfor %}
    </ul>
</body>
</html>

