<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
    <title>Profile</title>
</head>
<body>
    <div class="container">
        <h1>Profile</h1>
        <p><strong>First name:</strong> {{ user.first_name }}</p>
        <p><strong>Last name:</strong> {{ user.last_name }}</p>
        <p><strong>Email:</strong> {{ user.email }}</p>
        <hr>
        <form method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit">Выйти</button>
        </form>
    </div>
</body>
</html>
