<div class="container mt-5">
  <!-- Хедер -->
  <div class="d-flex justify-content-between align-items-center mb-4">
    <a class="text-decoration-none text-primary" (click)="navigateTo('')">
      <h2 class="m-0">{{ appName }}</h2>
    </a>
    <h2 class="m-0">Бронирование</h2>
    <div class="d-flex align-items-center">
      <a class="me-3 text-decoration-none" (click)="navigateTo('account')">
        <strong>{{ username }}</strong>
      </a>
      <button class="btn btn-outline-danger btn-sm" (click)="logout()">Выйти</button>
    </div>
  </div>

  <!-- Фильтры -->
  <div class="row mb-4">
    <div class="col-md-3">
      <label for="filterRoomType" class="form-label">Тип комнаты</label>
      <select
        id="filterRoomType"
        class="form-select"
        [(ngModel)]="filters.roomType"
        (change)="applyFiltersAndSearch()"
      >
        <option [value]="null">Все</option>
        <option *ngFor="let type of roomTypes" [value]="type">
          {{ type }}
        </option>
      </select>
    </div>
    <div class="col-md-3">
      <label for="filterArrivalDate" class="form-label">Дата заезда</label>
      <input
        type="date"
        id="filterArrivalDate"
        class="form-control"
        [(ngModel)]="filters.arrivalDate"
        (change)="applyFiltersAndSearch()"
      />
    </div>
    <div class="col-md-3">
      <label for="filterDepartureDate" class="form-label">Дата выезда</label>
      <input
        type="date"
        id="filterDepartureDate"
        class="form-control"
        [(ngModel)]="filters.departureDate"
        (change)="applyFiltersAndSearch()"
      />
    </div>
  </div>

  <!-- Поиск -->
  <div class="mb-3">
    <input
      type="text"
      class="form-control"
      placeholder="Поиск по имени, фамилии, отчеству, паспорту, статусу или номеру комнаты"
      [(ngModel)]="searchQuery"
      (input)="applyFiltersAndSearch()"
    />
  </div>

  <button class="btn btn-success" (click)="openAddBookingForm()">Добавить бронирование</button>

  <!-- Таблица бронирований -->
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>#</th>
        <th>Клиент</th>
        <th>Комната</th>
        <th>Дата заезда</th>
        <th>Дата выезда</th>
        <th>Статус</th>
        <th>Статус оплаты</th>
        <th>Цена при бронировании</th>
        <th>Финальная цена</th>
        <th>Администратор</th>
        <th>Дата бронирования</th>
        <th>Последнее обновление</th>
        <th>Кто обновил</th>
        <th>Действия</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let booking of filteredBookings | slice: (page - 1) * itemsPerPage : page * itemsPerPage; let i = index">
        <td>{{ (page - 1) * itemsPerPage + i + 1 }}</td>
        <td>
          {{ booking.client.first_name }} {{ booking.client.last_name }}
          <br />
          <small>Паспорт: {{ booking.client.passport_number }}</small>
        </td>
        <td>
          Комната {{ booking.room.number }}
          <br />
          <small>{{ booking.room.type_name }}</small>
        </td>
        <td>{{ booking.arrival_date }}</td>
        <td>{{ booking.departure_date }}</td>
        <td>{{ booking.status }}</td>
        <td>{{ booking.payment_status }}</td>
        <td>{{ booking.price_at_booking }} ₽</td>
        <td>{{ booking.final_price }} ₽</td>
        <td>{{ booking.admin || '—' }}</td>
        <td>{{ booking.booking_date }}</td>
        <td>{{ formatDate(booking.last_updated_date) }}</td>
        <td>{{ booking.updated_by_id || '—' }}</td>
        <td>
          <button class="btn btn-warning btn-sm" (click)="openEditBookingForm(booking)">Редактировать</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="backdrop" *ngIf="showEditBookingForm || showAddBookingForm"></div>

  <div
    class="modal fade show"
    tabindex="-1"
    [ngClass]="{ 'd-block': showAddBookingForm }"
    *ngIf="showAddBookingForm"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Добавить бронирование</h5>
          <button type="button" class="btn-close" (click)="closeAddBookingForm()"></button>
        </div>
        <div class="modal-body">
          <form>
            <!-- Паспорт -->
            <div class="mb-3">
              <label for="passportNumber" class="form-label">Номер паспорта</label>
              <input
                type="text"
                id="passportNumber"
                class="form-control"
                [(ngModel)]="newBooking.passport_number"
                name="passportNumber"
              />
              <div *ngIf="validationErrors['passport_number']" class="text-danger">
                {{ validationErrors['passport_number'][0] }}
              </div>
            </div>

            <!-- Имя -->
            <div class="mb-3">
              <label for="firstName" class="form-label">Имя</label>
              <input
                type="text"
                id="firstName"
                class="form-control"
                [(ngModel)]="newBooking.first_name"
                name="firstName"
              />
              <div *ngIf="validationErrors['first_name']" class="text-danger">
                {{ validationErrors['first_name'][0] }}
              </div>
            </div>

            <!-- Фамилия -->
            <div class="mb-3">
              <label for="lastName" class="form-label">Фамилия</label>
              <input
                type="text"
                id="lastName"
                class="form-control"
                [(ngModel)]="newBooking.last_name"
                name="lastName"
              />
              <div *ngIf="validationErrors['last_name']" class="text-danger">
                {{ validationErrors['last_name'][0] }}
              </div>
            </div>

            <!-- Отчество -->
            <div class="mb-3">
              <label for="middleName" class="form-label">Отчество</label>
              <input
                type="text"
                id="middleName"
                class="form-control"
                [(ngModel)]="newBooking.middle_name"
                name="middleName"
              />
              <div *ngIf="validationErrors['middle_name']" class="text-danger">
                {{ validationErrors['middle_name'][0] }}
              </div>
            </div>

            <!-- Город -->
            <div class="mb-3">
              <label for="cityFrom" class="form-label">Город</label>
              <input
                type="text"
                id="cityFrom"
                class="form-control"
                [(ngModel)]="newBooking.city_from"
                name="cityFrom"
              />
              <div *ngIf="validationErrors['city_from']" class="text-danger">
                {{ validationErrors['city_from'][0] }}
              </div>
            </div>

            <!-- Номер комнаты -->
            <div class="mb-3">
              <label for="roomNumber" class="form-label">Номер комнаты</label>
              <input
                type="number"
                id="roomNumber"
                class="form-control"
                [(ngModel)]="newBooking.room_number"
                name="roomNumber"
              />
              <div *ngIf="validationErrors['room_number']" class="text-danger">
                {{ validationErrors['room_number'][0] }}
              </div>
            </div>

            <!-- Дата заезда -->
            <div class="mb-3">
              <label for="arrivalDate" class="form-label">Дата заезда</label>
              <input
                type="date"
                id="arrivalDate"
                class="form-control"
                [(ngModel)]="newBooking.arrival_date"
                name="arrivalDate"
              />
              <div *ngIf="validationErrors['arrival_date']" class="text-danger">
                {{ validationErrors['arrival_date'][0] }}
              </div>
            </div>

            <!-- Дата выезда -->
            <div class="mb-3">
              <label for="departureDate" class="form-label">Дата выезда</label>
              <input
                type="date"
                id="departureDate"
                class="form-control"
                [(ngModel)]="newBooking.departure_date"
                name="departureDate"
              />
              <div *ngIf="validationErrors['departure_date']" class="text-danger">
                {{ validationErrors['departure_date'][0] }}
              </div>
            </div>

            <!-- Статус бронирования -->
            <div class="mb-3">
              <label for="status" class="form-label">Статус бронирования</label>
              <select
                id="status"
                class="form-select"
                [(ngModel)]="newBooking.status"
                name="status"
              >
                <option value="BOOKED">Забронирован</option>
                <option value="CONFIRMED">Подтверждён</option>
                <option value="CHECKED_IN">Заселён</option>
                <option value="CHECKED_OUT">Выселён</option>
                <option value="CANCELLED">Отменён</option>
              </select>
            </div>

            <!-- Статус оплаты -->
            <div class="mb-3">
              <label for="paymentStatus" class="form-label">Статус оплаты</label>
              <select
                id="paymentStatus"
                class="form-select"
                [(ngModel)]="newBooking.payment_status"
                name="paymentStatus"
              >
                <option value="PREPAID">Предоплата</option>
                <option value="PAID">Оплачено</option>
                <option value="UNPAID">Не оплачено</option>
                <option value="REFUNDED">Возвращено</option>
              </select>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="closeAddBookingForm()">Отмена</button>
          <button type="button" class="btn btn-primary" (click)="addBooking()">Сохранить</button>
        </div>
      </div>
    </div>
  </div>


  <div
    class="modal fade show"
    tabindex="-1"
    [ngClass]="{ 'd-block': showEditBookingForm }"
    *ngIf="showEditBookingForm"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Редактирование брони</h5>
          <button type="button" class="btn-close" (click)="closeEditBookingForm()"></button>
        </div>
        <div class="modal-body">
          <form>
            <!-- Дата заезда -->
            <div class="mb-3">
              <label for="arrivalDate" class="form-label">Дата заезда</label>
              <input
                type="date"
                id="arrivalDate"
                class="form-control"
                [(ngModel)]="currentBooking.arrival_date"
                name="arrivalDate"
              />
            </div>

            <!-- Дата выезда -->
            <div class="mb-3">
              <label for="departureDate" class="form-label">Дата выезда</label>
              <input
                type="date"
                id="departureDate"
                class="form-control"
                [(ngModel)]="currentBooking.departure_date"
                name="departureDate"
              />
            </div>

            <!-- Статус бронирования -->
            <div class="mb-3">
              <label for="status" class="form-label">Статус бронирования</label>
              <select
                id="status"
                class="form-select"
                [(ngModel)]="currentBooking.status"
                name="status"
              >
                <option value="BOOKED">Забронирован</option>
                <option value="CONFIRMED">Подтверждён</option>
                <option value="CHECKED_IN">Заселён</option>
                <option value="CHECKED_OUT">Выселён</option>
                <option value="CANCELLED">Отменён</option>
              </select>
            </div>

            <!-- Статус оплаты -->
            <div class="mb-3">
              <label for="paymentStatus" class="form-label">Статус оплаты</label>
              <select
                id="paymentStatus"
                class="form-select"
                [(ngModel)]="currentBooking.payment_status"
                name="paymentStatus"
              >
                <option value="PREPAID">Предоплата</option>
                <option value="PAID">Оплачено</option>
                <option value="UNPAID">Не оплачено</option>
                <option value="REFUNDED">Возвращено</option>
              </select>
            </div>

            <!-- Комната -->
            <div class="mb-3">
              <label for="roomNumber" class="form-label">Комната</label>
              <input
                type="number"
                id="roomNumber"
                class="form-control"
                [(ngModel)]="currentBooking.room.number"
                name="roomNumber"
              />
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="closeEditBookingForm()">Отмена</button>
          <button type="button" class="btn btn-primary" (click)="saveBooking()">Сохранить</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Пагинация -->
  <nav *ngIf="filteredBookings.length > itemsPerPage">
    <ul class="pagination justify-content-center">
      <li class="page-item" [class.disabled]="page === 1" (click)="page = Math.max(1, page - 1)">
        <a class="page-link">Назад</a>
      </li>
      <li class="page-item" [class.disabled]="page * itemsPerPage >= filteredBookings.length" (click)="page = Math.min(page + 1, Math.ceil(filteredBookings.length / itemsPerPage))">
        <a class="page-link">Вперёд</a>
      </li>
    </ul>
  </nav>
</div>
