{% extends 'base.html' %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <h2 class="mb-4">Оставить отзыв</h2>
        <form method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label for="id_rating" class="form-label">Рейтинг</label>
                {{ form.rating }}
            </div>
            <div class="mb-3">
                <label for="id_comment" class="form-label">Комментарий</label>
                {{ form.comment }}
            </div>
            <button type="submit" class="btn btn-success">Оставить отзыв</button>
        </form>
    </div>
</div>
{% endblock %}
