/* General Styling */
.reserve-ticket-container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.reserve-ticket-container h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

form p {
    margin-bottom: 15px;
}

.btn-primary {
    background-color: #007bff;
    border: none;
    padding: 10px 20px;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
}

.btn-primary:hover {
    opacity: 0.9;
}

.btn-secondary {
    background-color: #6c757d;
    padding: 10px 20px;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
}

.btn-secondary:hover {
    opacity: 0.9;
}
