<div class="container mt-3">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <a class="text-decoration-none text-primary" (click)="navigateTo('')">
      <h2 class="m-0">{{ appName }}</h2>
    </a>
    <h2>Главная страница</h2>
    <div class="d-flex align-items-center">
      <a class="me-3 text-decoration-none" (click)="navigateTo('account')">
        <strong>{{ username }}</strong>
      </a>
      <button class="btn btn-outline-danger btn-sm" (click)="logout()">Выйти</button>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 mb-3" *ngFor="let section of sections">
      <div class="card">
        <div class="card-body text-center">
          <h5 class="card-title">{{ section.title }}</h5>
          <button class="btn btn-primary w-100" (click)="navigateTo(section.route)">Перейти</button>
        </div>
      </div>
    </div>
  </div>
</div>
