<!-- templates/reserve_tour.html -->
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Забронировать тур</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

<div class="container">
    <h1>Забронировать тур: {{ tour.name }}</h1>
    <p>Период тура: {{ tour.start_date }} - {{ tour.end_date }}</p>

    <form method="post" class="form">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="button">Забронировать</button>
    </form>

    {% if form.errors %}
        <div class="error-message">
            {% for field in form %}
                {% for error in field.errors %}
                    <p>{{ error }}</p>
                {% endfor %}
            {% endfor %}
        </div>
    {% endif %}
</div>

</body>
</html>