<!DOCTYPE html>
<html lang="en">
    {% extends 'menu.html' %}

    {% block content %} 
<head>
    <meta charset="UTF-8">
    <title>Резервирование места на рейс</title>
    <style>
        input[type="submit"] {
            background-color: #0056b3;
            color: white;
            border: none;
            padding: 10px 20px;
            cursor: pointer;
            border-radius: 5px;
            box-shadow: none; 
        }
        input[type="submit"]:hover {
            background-color: #004494;
        }
    </style>
</head>
<body>
    <h1>Резервирование места на рейс: {{ flight.flight_number }}</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Забронировать">
    </form>
    <a href="/flights">Назад к списку рейсов</a>
    {% endblock %}
</body>
</html>
